%white-shadowed-container {
  margin: $gutter / 2 0;
}

.body-container {
  margin: $gutter 0;
}

.body-container-wrapper {
  min-height: calc(100% - 230px);
}

.section-container {
  padding: 2rem $gutter * 2;

  h1 {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    text-align: center;
  }
}

.lesser-section-container {
  padding: 1rem;
}

.float-container {
  @extend %white-shadowed-container;
  padding: $gutter;
}

@media all and (min-width: 37.5rem) {
  %white-shadowed-container {
    background-color: $white;
    box-shadow: 0 2px 20px -10px $black;
  }

  .body-container {
    margin: $gutter $gutter * 2;
  }

  .section-container {
    padding: 5rem $gutter * 3;

    h1 {
      margin-bottom: 1.5rem;
      padding-bottom: .5rem;
    }
  }

  .lesser-section-container {
    padding: 1.5rem;
  }
}
