%white-shadowed-container {
  margin: $gutter / 2 0;
}

.body-container {
  margin: $gutter 0;
}

.body-container-wrapper {
  min-height: calc(100% - 230px);
}

.section-container {
  padding: 2rem $gutter * 2;

  h1 {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    text-align: center;
  }
}

.lesser-section-container {
  padding: .5rem;
}

.float-container {
  @extend %white-shadowed-container;
  padding: $gutter;
}

.dark-background {
  background-color: $hue700;
  color: $white;
}

.medium-background {
  background-color: $hue500;
  color: $white;
}

.light-background {
  background-color: $hue200;
  color: $white;
}

.hue-background {
  background-color: $primary-light;
  color: $white;
}

@media all and (min-width: 37.5rem) {
  %white-shadowed-container {
    background-color: $white;
    box-shadow: 0 2px 20px -10px $black;
  }

  .body-container {
    margin: $gutter $gutter * 2;
  }

  .main-container {
    &.float-container {
      padding: 2rem;

      h1 {
        margin-bottom: 1rem;
      }
    }
  }

  .section-container {
    padding: 5rem $gutter * 3;

    h1 {
      margin-bottom: 1.5rem;
      padding-bottom: .5rem;
    }
  }
}
