.footer-section {
  padding: $lesser-section-gutter;
  background-color: $footer-color;

  .social-media-container {
    display: flex;
    justify-content: center;

    i {
      margin: $gutter / 2;
      color: $white;
      font-size: 2rem;

      &:hover {
        color: $primary;
      }
    }
  }
}

.footer-navigation {
  display: flex;
  width: 100%;
  color: $primary;

  ul {
    display: inline-block;
    margin: 0 auto;
  }

  li {
    display: inline-block;
    padding: 0 $gutter;
  }

  a {
    color: $white;
    font-size: 400;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}

.copyright {
  margin: $gutter / 2;
  color: $white;
  text-align: center;
}
