.footer {
  height: 150px;
  padding: $lesser-section-gutter;
  background-color: $footer-color;
}

.footer-navigation {
  width: 100%;
  padding: .5rem 0 1rem;
  color: $primary;
  font-size: 12px;
  text-align: center;

  ul {
    display: inline-block;
    margin: 0 auto;
  }

  li {
    display: inline-block;
    padding: 0 $gutter;
  }
}

.footer-social-media-container {
  display: flex;
  justify-content: center;

  i {
    margin: $gutter / 2;
    color: $white;
    font-size: 2rem;

    &:hover {
      color: $primary;
    }
  }
}

.copyright {
  margin: $gutter / 2;
  color: $white;
  text-align: center;
}
