.hero {
  min-height: calc(100vh) !important;
  background-color: $hue700;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $white;
  text-align: center;

  .logo {
    img {
      width: 100% !important;
      max-width: 500px;
      margin: 0 auto;
      margin-top: 3rem;
      padding: 0 $gutter * 2;
    }
  }
}

.hero-content {
  .heading-text {
    margin: 1rem 0;
    font-size: 36px;
    text-align: center;
  }
}

@media all and (min-width: 37.5rem) {
  .hero {
    .logo {
      img {
        margin-top: 2rem;
      }
    }
  }
}
