.lead-in {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  transition: .8s transform;
  background-color: $primary;
  color: $white;

  &[data-state="inactive"] {
    transform: translateX(500px);
  }

  &[data-state="active"] {
    transform: translateX(0);
  }

  h3 {
    width: 100%;
    padding-right: 2rem;
  }

  .close-lead-in-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .hs-form {
    .hs-form-field {
      margin-top: .5rem;
    }

    .hs-button {
      margin-top: 1rem;
    }

    .hs-form-required {
      display: none;
    }

    .hs-error-msgs {
      color: $white;
    }
  }

  .hbspt-form {
    .submitted-message {
      padding: .5rem 0;
      font-size: 18px;
      text-align: center;
    }
  }
}


@media all and (min-width: 37.5rem) {
  .lead-in {
    width: 500px;
    padding: 1.5rem;
  }

  h3 {
    width: auto;
    padding-right: 0;
  }

  .close-lead-in-button {
    position: relative;
    top: inherit;
    right: inherit;
    margin-bottom: .5rem;
    margin-left: auto;
    cursor: pointer;
  }
}
