.lead-in {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 400px;
  padding: 2rem;
  transition: .8s transform;
  background-color: $primary;
  color: $white;

  &[data-state="inactive"] {
    transform: translateX(400px);
  }

  &[data-state="active"] {
    transform: translateX(0);
  }

  .close-lead-in-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}
