.form-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: $gutter;
  padding-bottom: 2rem;
  transition: .4s;
  transition-property: opacity;
  background-color: $white;
  overflow: scroll;
  z-index: 10;

  &[data-state="inactive"] {
    transform: translateX(-5000px);
    opacity: 0;
  }

  &[data-state="active"] {
    transform: translateX(0);
    opacity: 1;
  }

  .close-button {
    width: 100%;
    margin: 1rem;
    padding: $gutter;
    color: $black;
    font-size: 1.5rem;
    text-align: right;
  }

  form {
    max-width: 600px;
    margin: 2rem auto;
  }
}

@media all and (min-width: 37.5rem) {
  .close-button {
    height: 0;
  }
}
