.sidebar-component {
  h3 {
    margin: 0 0 $gutter / 2;
    text-transform: uppercase;
  }
}

.sidebar-subscribe {
  .hs-form-field {
    margin-top: 0;
  }
}

@media all and (min-width: 37.5rem) {
  .sidebar-cta {
    padding: 0;
  }
}
