.header-icon-container {
  display: block;
  text-align: center;
}

.header-icon {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border-radius: 100%;
  background-color: $white;
  color: $primary;
  font-size: 56px;
}
