%primary-link {
  color: $secondary-light;
  font-size: 14px;

  &:hover {
    color: $secondary;
  }
}

%primary-solid-link {
  padding: 3px 6px;
  background-color: $secondary-light;
  color: $white;
  font-size: 14px;

  &:hover {
    background-color: $secondary;
    color: $white;
  }
}

%secondary-link {
  color: $white;

  &:hover {
    color: $primary-light;
  }
}

a {
  @extend %primary-link;
}

.header,
.footer {
  a {
    @extend %secondary-link;
  }
}

.list-topics {
  min-height: 2.5rem;
  margin: $gutter;
}

.topic-link {
  @extend %primary-solid-link;
}

.topic-cloud {
  li {
    display: inline-block;
    margin: 0 .25rem .5rem 0;
  }

  a {
    @extend %primary-solid-link;
  }
}

.blog-pagination {
  text-align: center;

  a {
    @extend %primary-link;
  }
}
