.tour-individual-page {
  p {
    font-size: 24px;
    font-weight: 300;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
  }

  h4 {
    font-size: 18px;
    font-weight: 300;
  }

  .hero {
    h1 {
      margin-bottom: .5rem;
      font-size: 56px;
    }
  }

  .hero-content {
    padding: 2rem 1rem 0;
  }

  .hero-opacity {
    background-color: rgba($black, .6);
  }

  .logo {
    img {
      max-width: 175px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .schedule {
    h2 {
      margin-bottom: .5rem;
      padding: 1rem;
      border-bottom: 3px solid $secondary;
    }

    h3 {
      padding: .5rem 1rem;
    }
  }
}

.workshop-resource-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5rem;
}

.workshop-resource {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 200px;
  padding: 1rem;

  img {
    width: 100%;
    max-width: 125px;
  }

  h3 {
    color: $white;
  }

  &:hover {
    h3 {
      text-decoration: underline;
    }
  }
}

@media all and (min-width: 37.5rem) {
  .tour-individual-page {
    .hero {
      h1 {
        font-size: 72px;
      }
    }

    .hero-content {
      padding: 20vh 0 0;
    }

    .tour-registration {
      padding: 0 0 20vh;
    }
  }
}
