$primary-light: #f76841;
$primary: #f15c27;
$primary-dark: #c4421a;

$secondary-light: #338db5;
$secondary: #1a5f83;
$secondary-dark: #0a4159;

$emergency-light: #d33c3c;
$emergency: #af1b1b;
$emergency-dark: #820808;

$black: #11110a;
$white: #fff;
$light-gray: #f3f2ee;

$shade700: #232728;
$shade500: #353a3a;
$shade400: #575b5b;
$shade200: #b1b2b2;

$hue700: #062128;
$hue500: #0f323a;

$body-color: $black;
$mobile-body-background: $white;
$body-background: $light-gray;
$header-color: $secondary;
$footer-color: $secondary-dark;
