.form-container {
  .form-title {
    margin-bottom: 1rem;
  }
}

.hbspt-form {
  position: relative;
  width: 100%;
}

.hs-form {
  .hs-form-field {
    margin-top: 1.5rem;
    color: $shade700;
    font-family: $base-font;
  }

  fieldset {
    max-width: none !important;
  }

  label {
    display: block;
    margin-bottom: $gutter / 2;
  }

  .hs-input {
    width: 100% !important;
    height: 32px;
    margin-top: .25rem;
    padding: 0 $gutter / 2;
    border: .5px solid $secondary-light;
    font-family: $base-font;
    font-size: 16px;

    &.error {
      border-color: $emergency-light;
    }
  }

  textarea {
    height: 75px !important;
  }

  .hs-error-msgs {
    padding-top: .5rem;
    color: $emergency-light;
    font-size: 14px;
  }
}

.inputs-list {
  margin: 0;
  padding: 0;

  .hs-input {
    width: initial;
    height: initial;
    margin-top: initial;
    margin-right: 1rem;
  }
}

.hs-form-booleancheckbox,
.hs-form-radio {
  list-style: none;
}

.hs-button {
  @extend %button-large-full;
}

.dark-background,
.hue-background,
.light-background,
.medium-background {
  .hs-form {
    label {
      color: $white;
    }
  }
}

@media all and (min-width: 37.5rem) {
  .hbspt-form {
    .submitted-message {
      font-size: 28px;
    }
  }

  .form-columns-3 {
    .hs-form-field {
      width: 33.333% !important;
    }
  }
}
